body {
  padding: 20px;
}
button {
  margin-top: 20px;
  line-height: 60px;
  font-weight: bold;
  padding: 0 40px;
  background: salmon;
  border: none;
  float: left;
}
button:hover {
  background: lightsalmon;
}

.divBox {
    float: left;
    margin: 10px;
    line-height: 200px;
    text-align: center;
}

